<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- title %></title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Passion+One&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./assets/style/style.css" />
  </head>

  <body>
    <div class="container-A4" size="A4">
      <!-- p1 -->
      <%- include('./assets/views/p1.ejs')%>
      <!-- p2 -->
      <%- include('./assets/views/p2.ejs')%>
      <!-- p3 -->
      <%- include('./assets/views/p3.ejs')%>
      <!-- p4 -->
      <%- include('./assets/views/p4.ejs')%>
      <!-- p5 -->
      <%- include('./assets/views/p5.ejs')%>
      <!-- p6 -->
      <%- include('./assets/views/p6.ejs')%>
      <!-- p7 -->
      <%- include('./assets/views/p7.ejs')%>
      <!-- p8 -->
      <%- include('./assets/views/p8.ejs')%>
      <!-- p9 -->
      <%- include('./assets/views/p9.ejs')%>
      <!-- p10 -->
      <%- include('./assets/views/p10.ejs')%>
      <!-- p11 -->
      <%- include('./assets/views/p11.ejs')%>
      <!-- p12 -->
      <%- include('./assets/views/p12.ejs')%>
      <!-- p13 -->
      <%- include('./assets/views/p13.ejs')%>
      <!-- p14 -->
      <%- include('./assets/views/p14.ejs')%>
      <!-- p15 -->
      <%- include('./assets/views/p15.ejs')%>
      <!-- p16 -->
      <%- include('./assets/views/p16.ejs')%>
      <!-- p17 -->
      <%- include('./assets/views/p17.ejs')%>
      <!-- p18 -->
      <%- include('./assets/views/p18.ejs')%>
      <!-- p19 -->
      <%- include('./assets/views/p19.ejs')%>
      <!-- p20 -->
      <%- include('./assets/views/p20.ejs')%>
      <!-- p21 -->
      <%- include('./assets/views/p21.ejs')%>
      <!-- p22 -->
      <%- include('./assets/views/p22.ejs')%>
      <!-- p23 -->
      <%- include('./assets/views/p23.ejs')%>
      <!-- p24 -->
      <%- include('./assets/views/p24.ejs')%>
      <!-- p25 -->
      <%- include('./assets/views/p25.ejs')%>
      <!-- p26 -->
      <%- include('./assets/views/p26.ejs')%>
      <!-- p27 -->
      <%- include('./assets/views/p27.ejs')%>
      <!-- p28 -->
      <%- include('./assets/views/p28.ejs')%>
      <!-- p29 -->
      <%- include('./assets/views/p29.ejs')%>
      <!-- p30 -->
      <%- include('./assets/views/p30.ejs')%>
      <!-- p31 -->
      <%- include('./assets/views/p31.ejs')%>
      <!-- p32 -->
      <%- include('./assets/views/p32.ejs')%>
      <!-- p33 -->
      <%- include('./assets/views/p33.ejs')%>
      <!-- p34 -->
      <%- include('./assets/views/p34.ejs')%>
      <!-- p35 -->
      <%- include('./assets/views/p35.ejs')%>
      <!-- p36 -->
      <%- include('./assets/views/p36.ejs')%>
      <!-- p37 -->
      <%- include('./assets/views/p37.ejs')%>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>
</html>
